/* Add CSS Styling */
.yes-click, 
.no-click
{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.yes-click
{
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.no-click
{
    background-color: yellow;
}