/* Add CSS Styling */

.odd-numbered
{
    background-color: #FF7F7F;
    font-family: Verdana, sans-serif;
}

.diff-size
{
    font-size: 24px;
}

#unique1
{
    color: #0000FF;
    font-size: 36px;
}

#unique2
{
    background-color: #90EE90;
    font-size: 24px;
    font-weight: bold;
}